In [1]:
 import pandas as pd

In [2]:
csv = pd.read_csv('../data/survey_results_public.csv')
data = pd.read_csv('../data/survey_results_schema.csv')

csv.set_index('ResponseId', inplace = True)

In [3]:
csv.tail(5)

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,Codecademy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,Codecademy;Pluralsight;Coursera,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [4]:
csv.head(5)

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [5]:
csv.columns

Index(['Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [6]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89184 entries, 1 to 89184
Data columns (total 83 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Q120                                 89184 non-null  object
 1   MainBranch                           89184 non-null  object
 2   Age                                  89184 non-null  object
 3   Employment                           87898 non-null  object
 4   RemoteWork                           73810 non-null  object
 5   CodingActivities                     73764 non-null  object
 6   EdLevel                              87973 non-null  object
 7   LearnCode                            87663 non-null  object
 8   LearnCodeOnline                      70084 non-null  object
 9   LearnCodeCoursesCert                 37076 non-null  object
 10  YearsCode                            87435 non-null  object
 11  YearsCodePro                         66136 non-null  object
 12  DevType                              76872 non-null  object
 13  OrgSize                              65043 non-null  object
 14  PurchaseInfluence                    64964 non-null  object
 15  TechList                             60851 non-null  object
 16  BuyNewTool                           83009 non-null  object
 17  Country                              87973 non-null  object
 18  Currency                             65334 non-null  object
 19  CompTotal                            48225 non-null  float64
 20  LanguageHaveWorkedWith               87140 non-null  object
 21  LanguageWantToWorkWith               80709 non-null  object
 22  DatabaseHaveWorkedWith               73435 non-null  object
 23  DatabaseWantToWorkWith               60911 non-null  object
 24  PlatformHaveWorkedWith               63628 non-null  object
 25  PlatformWantToWorkWith               51308 non-null  object
 26  WebframeHaveWorkedWith               66938 non-null  object
 27  WebframeWantToWorkWith               56741 non-null  object
 28  MiscTechHaveWorkedWith               57019 non-null  object
 29  MiscTechWantToWorkWith               46848 non-null  object
 30  ToolsTechHaveWorkedWith              77884 non-null  object
 31  ToolsTechWantToWorkWith              68315 non-null  object
 32  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 33  NEWCollabToolsWantToWorkWith         76649 non-null  object
 34  OpSysPersonal use                    86557 non-null  object
 35  OpSysProfessional use                78587 non-null  object
 36  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 37  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 38  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 39  OfficeStackSyncWantToWorkWith        69776 non-null  object
 40  AISearchHaveWorkedWith               56328 non-null  object
 41  AISearchWantToWorkWith               46150 non-null  object
 42  AIDevHaveWorkedWith                  25904 non-null  object
 43  AIDevWantToWorkWith                  19587 non-null  object
 44  NEWSOSites                           87973 non-null  object
 45  SOVisitFreq                          87140 non-null  object
 46  SOAccount                            87852 non-null  object
 47  SOPartFreq                           66061 non-null  object
 48  SOComm                               87692 non-null  object
 49  SOAI                                 47912 non-null  object
 50  AISelect                             87973 non-null  object
 51  AISent                               61501 non-null  object
 52  AIAcc                                38594 non-null  object
 53  AIBen                                61396 non-null  object
 54  AIToolInterested in Using            32783 non-null  object
 55  AIToolCurrently Using                36137 non-null  object
 56  AIToolNot interested in Using        21069 non-null  object
 57  AINextVery different                 12661 non-null  object
 58  AINextNeither different nor similar  6599 non-null   object
 59  AINextSomewhat similar               6238 non-null   object
 60  AINextVery similar                   2621 non-null   object
 61  AINextSomewhat different             23303 non-null  object
 62  TBranch                              65768 non-null  object
 63  ICorPM                               43668 non-null  object
 64  WorkExp                              43579 non-null  float64
 65  Knowledge_1                          42535 non-null  object
 66  Knowledge_2                          41670 non-null  object
 67  Knowledge_3                          41798 non-null  object
 68  Knowledge_4                          41684 non-null  object
 69  Knowledge_5                          41527 non-null  object
 70  Knowledge_6                          41520 non-null  object
 71  Knowledge_7                          41467 non-null  object
 72  Knowledge_8                          41404 non-null  object
 73  Frequency_1                          41916 non-null  object
 74  Frequency_2                          41925 non-null  object
 75  Frequency_3                          41054 non-null  object
 76  TimeSearching                        42778 non-null  object
 77  TimeAnswering                        42629 non-null  object
 78  ProfessionalTech                     41783 non-null  object
 79  Industry                             36774 non-null  object
 80  SurveyLength                         86485 non-null  object
 81  SurveyEase                           86554 non-null  object
 82  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), object(80)
memory usage: 57.2+ MB

In [7]:
csv.describe() # statistics

          CompTotal       WorkExp  ConvertedCompYearly
count  4.822500e+04  43579.000000         4.801900e+04
mean   1.036807e+42     11.405126         1.031101e+05
std    2.276847e+44      9.051989         6.814188e+05
min    0.000000e+00      0.000000         1.000000e+00
25%    6.300000e+04      5.000000         4.390700e+04
50%    1.150000e+05      9.000000         7.496300e+04
75%    2.300000e+05     16.000000         1.216410e+05
max    5.000000e+46     50.000000         7.435143e+07

In [8]:
csv.shape

(89184, 83)

In [9]:
data.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   qid         78 non-null     object
 1   qname       78 non-null     object
 2   question    78 non-null     object
 3   force_resp  67 non-null     object
 4   type        78 non-null     object
 5   selector    78 non-null     object
dtypes: object(6)
memory usage: 3.8+ KB

##### Creating a new DataFrame

In [11]:
data = {
    "name":["A","b","c"],
    "age":[23,33,25.0],
    "gender":["M","F",None]
}

dataframe = pd.DataFrame(data)

In [12]:
dataframe

  name   age gender
0    A  23.0      M
1    b  33.0      F
2    c  25.0   None

In [13]:
dataframe['age'] = dataframe['age'].astype(int)

In [14]:
dataframe['age'] # returns a series

0    23
1    33
2    25
Name: age, dtype: int32

In [15]:
dataframe[['age','gender']] # returns a df

   age gender
0   23      M
1   33      F
2   25   None

In [16]:
csv['RemoteWork'].value_counts() #returns the count of each unique value in the column

Hybrid (some remote, some in-person)    31131
Remote                                  30566
In-person                               12113
Name: RemoteWork, dtype: int64

In [17]:
dataframe.set_index('name') # setting the index as name

      age gender
name
A      23      M
b      33      F
c      25   None

In [127]:
#create a new dataframe 
data = {
    "gender":["m","f","m","m","f"],
    "name":["a","b","v","d","e"],
    "height":[123,123,1245,354,344]
}
new = pd.DataFrame(data)
new

  gender name  height
0      m    a     123
1      f    b     123
2      m    v    1245
3      m    d     354
4      f    e     344

In [128]:
new['height'].mean() #mean of a particular column

437.8

In [129]:
new[new['gender'] == "f"] # Masking and Filtering

  gender name  height
1      f    b     123
4      f    e     344

In [130]:
new[new['gender'] == "f"]['height'].mean() #new[new['gender'] == "f"] is our new filtered df here

233.5

In [21]:
new[new['gender'] == "f"].mean()

C:\Users\prami\AppData\Local\Temp\ipykernel_60400\2367395597.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new[new['gender'] == "f"].mean()

height    233.5
dtype: float64

##### Masking

In [22]:
new["gender"]=="m" # this is called a mask for the df

0     True
1    False
2     True
3     True
4    False
Name: gender, dtype: bool

In [23]:
mask = (new["gender"] == "m") & (new["name"] == "a")

##### Filtering

In [24]:
# FILTER OUT
new[mask]

  gender name  height
0      m    a     123

In [25]:
# INVERTED MASK
new[~mask]

  gender name  height
1      f    b     123
2      m    v    1245
3      m    d     354
4      f    e     344

In [131]:
passed_names = ["b","d"]
new[new["name"].isin(passed_names)]

  gender name  height
1      f    b     123
3      m    d     354

In [132]:
# Equivalent of above
new[(new["name"] == "b") | (new["name"] == "d")]

  gender name  height
1      f    b     123
3      m    d     354

In [27]:
new[new['height']>300] #filtering numeric column

  gender name  height
2      m    v    1245
3      m    d     354
4      f    e     344

In [28]:
csv["LanguageHaveWorkedWith"] #csv dataframe

ResponseId
1                                                      NaN
2                               HTML/CSS;JavaScript;Python
3                               Bash/Shell (all shells);Go
4        Bash/Shell (all shells);HTML/CSS;JavaScript;PH...
5                           HTML/CSS;JavaScript;TypeScript
                               ...
89180              HTML/CSS;Java;JavaScript;SQL;TypeScript
89181                                 Dart;Java;Python;SQL
89182    Assembly;Bash/Shell (all shells);C;C#;Python;R...
89183    Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...
89184                      C#;Go;JavaScript;SQL;TypeScript
Name: LanguageHaveWorkedWith, Length: 89184, dtype: object

In [29]:
csv[csv["LanguageHaveWorkedWith"].str.contains("Python", na = False)].head() # https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
8,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Codecademy;edX,...,NaN,NaN,NaN,60-120 minutes a day,30-60 minutes a day,None of these,Financial Services,NaN,NaN,80000.0
10,I agree,I am a developer by profession,25-34 years old,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,edX;Udemy;Pluralsight;Coursera;Udacity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
11,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,1-2 times a week,6-10 times a week,30-60 minutes a day,60-120 minutes a day,Automated testing;Continuous integration (CI) ...,Other,Appropriate in length,Neither easy nor difficult,NaN
12,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,78003.0

In [144]:
cols = list(new.columns)
cols = [el.upper() for el in cols ] 
#bad deril shouted at me

In [145]:
new.columns = cols 
# renaming the column names
print(new.columns)

Index(['GENDER', 'NAME', 'HEIGHT'], dtype='object')

In [146]:
# creating new cols in df
new['all_same'] = 2
new

  GENDER NAME  HEIGHT  all_same
0      m    a     123         2
1      f    b     123         2
2      m    v    1245         2
3      m    d     354         2
4      f    e     344         2

In [147]:
new['gh'] = new['GENDER'] + new['HEIGHT'].astype(str) + '_gh' # creating new columns using the existing ones
new

  GENDER NAME  HEIGHT  all_same        gh
0      m    a     123         2   m123_gh
1      f    b     123         2   f123_gh
2      m    v    1245         2  m1245_gh
3      m    d     354         2   m354_gh
4      f    e     344         2   f344_gh

In [148]:
new.drop(columns = ['gh', 'all_same'], inplace = True) #dropping columns
new

  GENDER NAME  HEIGHT
0      m    a     123
1      f    b     123
2      m    v    1245
3      m    d     354
4      f    e     344

In [149]:
new['gh'] = new['GENDER'] + " " + new['HEIGHT'].astype(str) 
new

  GENDER NAME  HEIGHT      gh
0      m    a     123   m 123
1      f    b     123   f 123
2      m    v    1245  m 1245
3      m    d     354   m 354
4      f    e     344   f 344

In [150]:
#splitting gh on the basis on space

new['gh'].str.split(" ")

0     [m, 123]
1     [f, 123]
2    [m, 1245]
3     [m, 354]
4     [f, 344]
Name: gh, dtype: object

In [151]:
new['gh'].apply(lambda x : x.split(" ")) #same as above

0     [m, 123]
1     [f, 123]
2    [m, 1245]
3     [m, 354]
4     [f, 344]
Name: gh, dtype: object

In [37]:
new['gh'] = new['GENDER'] + "|" + new['HEIGHT'].astype(str)
new

  GENDER NAME  HEIGHT      gh
0      m    a     123   m|123
1      f    b     123   f|123
2      m    v    1245  m|1245
3      m    d     354   m|354
4      f    e     344   f|344

In [38]:
#splitting gh on the basis on space

new['gh'].str.split("|")

0     [m, 123]
1     [f, 123]
2    [m, 1245]
3     [m, 354]
4     [f, 344]
Name: gh, dtype: object

In [39]:
new['gh'].str.split("|", expand = True) # expand gives in dataframe instead of a list

   0     1
0  m   123
1  f   123
2  m  1245
3  m   354
4  f   344

In [40]:
new[['new_gender', 'new_height']] = new['gh'].str.split("|", expand = True)
new
#important
# new columns, expand

  GENDER NAME  HEIGHT      gh new_gender new_height
0      m    a     123   m|123          m        123
1      f    b     123   f|123          f        123
2      m    v    1245  m|1245          m       1245
3      m    d     354   m|354          m        354
4      f    e     344   f|344          f        344

In [41]:
new.drop(0) #defualt axis=0 in pandas is rows and in numpy is columns

  GENDER NAME  HEIGHT      gh new_gender new_height
1      f    b     123   f|123          f        123
2      m    v    1245  m|1245          m       1245
3      m    d     354   m|354          m        354
4      f    e     344   f|344          f        344

In [42]:
new.drop('gh', axis = 1, inplace = True) 
#if axis = 0 then it affects on index 
#axis =1 affcts columns
new

  GENDER NAME  HEIGHT new_gender new_height
0      m    a     123          m        123
1      f    b     123          f        123
2      m    v    1245          m       1245
3      m    d     354          m        354
4      f    e     344          f        344

In [152]:
new.append({'GENDER': 'm', 'NAME': 'deril'}, ignore_index = True)

C:\Users\prami\AppData\Local\Temp\ipykernel_60400\2817610015.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new.append({'GENDER': 'm', 'NAME': 'deril'}, ignore_index = True)

  GENDER   NAME  HEIGHT      gh
0      m      a   123.0   m 123
1      f      b   123.0   f 123
2      m      v  1245.0  m 1245
3      m      d   354.0   m 354
4      f      e   344.0   f 344
5      m  deril     NaN     NaN

In [153]:
new.append(new, ignore_index= True)

C:\Users\prami\AppData\Local\Temp\ipykernel_60400\2570743164.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new.append(new, ignore_index= True)

  GENDER NAME  HEIGHT      gh
0      m    a     123   m 123
1      f    b     123   f 123
2      m    v    1245  m 1245
3      m    d     354   m 354
4      f    e     344   f 344
5      m    a     123   m 123
6      f    b     123   f 123
7      m    v    1245  m 1245
8      m    d     354   m 354
9      f    e     344   f 344

##### Sorting

In [45]:
new[['new_height','HEIGHT']]= new[['new_height','HEIGHT']].astype(int)
new.sort_values(by = 'new_height', ascending= True)

  GENDER NAME  HEIGHT new_gender  new_height
0      m    a     123          m         123
1      f    b     123          f         123
4      f    e     344          f         344
3      m    d     354          m         354
2      m    v    1245          m        1245

In [46]:
new.sort_values(by = ['new_height','HEIGHT'], ascending= [True,False])
#If you want to sort 2 columns, one after the other, and the order is different then u can use ascending= [True,False] according to ur requirements
# its always in the ratio

  GENDER NAME  HEIGHT new_gender  new_height
0      m    a     123          m         123
1      f    b     123          f         123
4      f    e     344          f         344
3      m    d     354          m         354
2      m    v    1245          m        1245

## Group By

In [47]:
csv

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,Codecademy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,Codecademy;Pluralsight;Coursera,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [48]:
 csv["ConvertedCompYearly"].mean()

103110.08171765343

In [49]:
 csv["ConvertedCompYearly"].median()

74963.0

In [54]:
csv.median() # median of all numerical columns

C:\Users\prami\AppData\Local\Temp\ipykernel_60400\1044457711.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  csv.median()

CompTotal              115000.0
WorkExp                     9.0
ConvertedCompYearly     74963.0
dtype: float64

In [58]:
if "Hobbyist" in csv.columns:
    print(True)
else:
    print(False) #checking if hobbyist column is present in the df

False

In [156]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89184 entries, 1 to 89184
Data columns (total 83 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Q120                                 89184 non-null  object
 1   MainBranch                           89184 non-null  object
 2   Age                                  89184 non-null  object
 3   Employment                           87898 non-null  object
 4   RemoteWork                           73810 non-null  object
 5   CodingActivities                     73764 non-null  object
 6   EdLevel                              87973 non-null  object
 7   LearnCode                            87663 non-null  object
 8   LearnCodeOnline                      70084 non-null  object
 9   LearnCodeCoursesCert                 37076 non-null  object
 10  YearsCode                            87435 non-null  object
 11  YearsCodePro                         66136 non-null  object
 12  DevType                              76872 non-null  object
 13  OrgSize                              65043 non-null  object
 14  PurchaseInfluence                    64964 non-null  object
 15  TechList                             60851 non-null  object
 16  BuyNewTool                           83009 non-null  object
 17  Country                              87973 non-null  object
 18  Currency                             65334 non-null  object
 19  CompTotal                            48225 non-null  float64
 20  LanguageHaveWorkedWith               87140 non-null  object
 21  LanguageWantToWorkWith               80709 non-null  object
 22  DatabaseHaveWorkedWith               73435 non-null  object
 23  DatabaseWantToWorkWith               60911 non-null  object
 24  PlatformHaveWorkedWith               63628 non-null  object
 25  PlatformWantToWorkWith               51308 non-null  object
 26  WebframeHaveWorkedWith               66938 non-null  object
 27  WebframeWantToWorkWith               56741 non-null  object
 28  MiscTechHaveWorkedWith               57019 non-null  object
 29  MiscTechWantToWorkWith               46848 non-null  object
 30  ToolsTechHaveWorkedWith              77884 non-null  object
 31  ToolsTechWantToWorkWith              68315 non-null  object
 32  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 33  NEWCollabToolsWantToWorkWith         76649 non-null  object
 34  OpSysPersonal use                    86557 non-null  object
 35  OpSysProfessional use                78587 non-null  object
 36  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 37  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 38  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 39  OfficeStackSyncWantToWorkWith        69776 non-null  object
 40  AISearchHaveWorkedWith               56328 non-null  object
 41  AISearchWantToWorkWith               46150 non-null  object
 42  AIDevHaveWorkedWith                  25904 non-null  object
 43  AIDevWantToWorkWith                  19587 non-null  object
 44  NEWSOSites                           87973 non-null  object
 45  SOVisitFreq                          87140 non-null  object
 46  SOAccount                            87852 non-null  object
 47  SOPartFreq                           66061 non-null  object
 48  SOComm                               87692 non-null  object
 49  SOAI                                 47912 non-null  object
 50  AISelect                             87973 non-null  object
 51  AISent                               61501 non-null  object
 52  AIAcc                                38594 non-null  object
 53  AIBen                                61396 non-null  object
 54  AIToolInterested in Using            32783 non-null  object
 55  AIToolCurrently Using                36137 non-null  object
 56  AIToolNot interested in Using        21069 non-null  object
 57  AINextVery different                 12661 non-null  object
 58  AINextNeither different nor similar  6599 non-null   object
 59  AINextSomewhat similar               6238 non-null   object
 60  AINextVery similar                   2621 non-null   object
 61  AINextSomewhat different             23303 non-null  object
 62  TBranch                              65768 non-null  object
 63  ICorPM                               43668 non-null  object
 64  WorkExp                              43579 non-null  float64
 65  Knowledge_1                          42535 non-null  object
 66  Knowledge_2                          41670 non-null  object
 67  Knowledge_3                          41798 non-null  object
 68  Knowledge_4                          41684 non-null  object
 69  Knowledge_5                          41527 non-null  object
 70  Knowledge_6                          41520 non-null  object
 71  Knowledge_7                          41467 non-null  object
 72  Knowledge_8                          41404 non-null  object
 73  Frequency_1                          41916 non-null  object
 74  Frequency_2                          41925 non-null  object
 75  Frequency_3                          41054 non-null  object
 76  TimeSearching                        42778 non-null  object
 77  TimeAnswering                        42629 non-null  object
 78  ProfessionalTech                     41783 non-null  object
 79  Industry                             36774 non-null  object
 80  SurveyLength                         86485 non-null  object
 81  SurveyEase                           86554 non-null  object
 82  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), object(80)
memory usage: 59.2+ MB

In [63]:
csv["Country"].value_counts()

United States of America                                18647
Germany                                                  7328
India                                                    5625
United Kingdom of Great Britain and Northern Ireland     5552
Canada                                                   3507
                                                        ...
Saint Kitts and Nevis                                       1
Marshall Islands                                            1
Samoa                                                       1
Central African Republic                                    1
San Marino                                                  1
Name: Country, Length: 185, dtype: int64

In [64]:
csv[csv["Country"] == "United States of America"]

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
7,I agree,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Profe...,Some college/university study without earning ...,Friend or family member;Online Courses or Cert...,NaN,Udemy,...,1-2 times a week,3-5 times a week,1-2 times a week,Less than 15 minutes a day,15-30 minutes a day,Microservices;Automated testing;Continuous int...,"Information Services, IT, Software Development...",Appropriate in length,Easy,135000.0
8,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Codecademy;edX,...,NaN,NaN,NaN,60-120 minutes a day,30-60 minutes a day,None of these,Financial Services,NaN,NaN,80000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89151,I agree,"I used to be a developer by profession, but no...",55-64 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Codecademy,...,1-2 times a week,6-10 times a week,1-2 times a week,Less than 15 minutes a day,Less than 15 minutes a day,DevOps function;Automated testing;Developer po...,"Information Services, IT, Software Development...",Too short,Easy,NaN
89155,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;On the job tra...,Formal documentation provided by the owner of ...,Codecademy;edX;Pluralsight,...,Never,1-2 times a week,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Developer portal or other central places to fi...,"Information Services, IT, Software Development...",Appropriate in length,Easy,75000.0
89157,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Online Course...,Formal documentation provided by the owner of ...,Coursera,...,1-2 times a week,10+ times a week,3-5 times a week,30-60 minutes a day,Over 120 minutes a day,Automated testing;Observability tools;Continuo...,"Information Services, IT, Software Development...",Appropriate in length,Neither easy nor difficult,195000.0
89176,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Hackathons (virtual or in-person);Online Cours...,Formal documentation provided by the owner of ...,Codecademy;Udemy;Pluralsight;Udacity,...,1-2 times a week,3-5 times a week,Never,60-120 minutes a day,30-60 minutes a day,DevOps function;Continuous integration (CI) an...,"Information Services, IT, Software Development...",Appropriate in length,Neither easy nor difficult,NaN
89179,I agree,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;On the job tra...,Formal documentation provided by the owner of ...,edX;Udemy;Pluralsight;Udacity,...,1-2 times a week,1-2 times a week,1-2 times a week,15-30 minutes a day,60-120 minutes a day,DevOps function;Microservices;Automated testin...,Insurance,Appropriate in length,Easy,NaN

In [157]:
country_group =  csv.groupby(["Country"])

In [78]:
country_group

In [73]:
country_group.get_group("India")

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
10,I agree,I am a developer by profession,25-34 years old,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,edX;Udemy;Pluralsight;Coursera;Udacity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
67,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Online Courses or Certification;School (i.e., ...",NaN,Codecademy;Udemy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,41197.0
79,I agree,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Online Courses or Certification;School (i.e., ...",NaN,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
83,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Codecademy;Udemy;Coursera,...,1-2 times a week,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Neither easy nor difficult,NaN
86,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,edX;Coursera,...,10+ times a week,10+ times a week,10+ times a week,30-60 minutes a day,60-120 minutes a day,Automated testing;Continuous integration (CI) ...,Financial Services,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89120,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time",Remote,Hobby;Professional development or self-paced l...,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89122,I agree,"I am not primarily a developer, but I write co...",18-24 years old,"Employed, full-time;Student, part-time","Hybrid (some remote, some in-person)",Contribute to open-source projects;Professiona...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Hackathons (virtual or in-person);Online Cours...,Formal documentation provided by the owner of ...,Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
89165,I agree,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Professional development or self-paced learnin...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Other;Udemy,...,Never,1-2 times a week,Never,Less than 15 minutes a day,Less than 15 minutes a day,DevOps function;Microservices;Automated testin...,Financial Services,Appropriate in length,Neither easy nor difficult,NaN
89166,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Hobby;Contribute to open-source projects;Profe...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,1-2 times a week,3-5 times a week,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Observability tools;Innersource initiative;Dev...,"Information Services, IT, Software Development...",Appropriate in length,Neither easy nor difficult,NaN
89168,I agree,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Hobby;Bootstrapping a business;Professional de...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,edX;Udemy;Coursera,...,1-2 times a week,1-2 times a week,NaN,Over 120 minutes a day,30-60 minutes a day,Automated testing,Retail and Consumer Services,Appropriate in length,Neither easy nor difficult,15752.0

In [79]:
# Equivalent of above
csv[csv["Country"]=="India"]

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
10,I agree,I am a developer by profession,25-34 years old,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,edX;Udemy;Pluralsight;Coursera;Udacity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
67,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Online Courses or Certification;School (i.e., ...",NaN,Codecademy;Udemy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,41197.0
79,I agree,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Online Courses or Certification;School (i.e., ...",NaN,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
83,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Codecademy;Udemy;Coursera,...,1-2 times a week,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Neither easy nor difficult,NaN
86,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,edX;Coursera,...,10+ times a week,10+ times a week,10+ times a week,30-60 minutes a day,60-120 minutes a day,Automated testing;Continuous integration (CI) ...,Financial Services,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89120,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time",Remote,Hobby;Professional development or self-paced l...,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89122,I agree,"I am not primarily a developer, but I write co...",18-24 years old,"Employed, full-time;Student, part-time","Hybrid (some remote, some in-person)",Contribute to open-source projects;Professiona...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Hackathons (virtual or in-person);Online Cours...,Formal documentation provided by the owner of ...,Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
89165,I agree,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Professional development or self-paced learnin...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Other;Udemy,...,Never,1-2 times a week,Never,Less than 15 minutes a day,Less than 15 minutes a day,DevOps function;Microservices;Automated testin...,Financial Services,Appropriate in length,Neither easy nor difficult,NaN
89166,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Hobby;Contribute to open-source projects;Profe...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,1-2 times a week,3-5 times a week,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Observability tools;Innersource initiative;Dev...,"Information Services, IT, Software Development...",Appropriate in length,Neither easy nor difficult,NaN
89168,I agree,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Hobby;Bootstrapping a business;Professional de...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,edX;Udemy;Coursera,...,1-2 times a week,1-2 times a week,NaN,Over 120 minutes a day,30-60 minutes a day,Automated testing,Retail and Consumer Services,Appropriate in length,Neither easy nor difficult,15752.0

In [83]:
csv["ConvertedCompYearly"].mean() # full dataset salary mean

# give me salary mean only for India
csv[csv["Country"]=="India"]["ConvertedCompYearly"].mean()

27346.822805139185

In [98]:
(csv["Country"]=="India").sum()

5625

In [75]:
country_group =  csv.groupby(["Country"])
country_group["RemoteWork"].value_counts().head(50)

Country              RemoteWork
Afghanistan          Hybrid (some remote, some in-person)     17
                     Remote                                   17
                     In-person                                 8
Albania              Hybrid (some remote, some in-person)     18
                     In-person                                17
                     Remote                                   15
Algeria              Remote                                   27
                     Hybrid (some remote, some in-person)     12
                     In-person                                11
Andorra              In-person                                 6
                     Remote                                    5
                     Hybrid (some remote, some in-person)      2
Angola               Hybrid (some remote, some in-person)      3
                     In-person                                 3
                     Remote                                    3
Antigua and Barbuda  Hybrid (some remote, some in-person)      3
                     Remote                                    2
Argentina            Remote                                  318
                     Hybrid (some remote, some in-person)    131
                     In-person                                47
Armenia              Remote                                   46
                     Hybrid (some remote, some in-person)     34
                     In-person                                20
Australia            Hybrid (some remote, some in-person)    885
                     Remote                                  630
                     In-person                               254
Austria              Hybrid (some remote, some in-person)    562
                     Remote                                  169
                     In-person                               158
Azerbaijan           Remote                                   14
                     Hybrid (some remote, some in-person)     12
                     In-person                                10
Bahamas              In-person                                 1
Bahrain              In-person                                 7
                     Hybrid (some remote, some in-person)      3
                     Remote                                    3
Bangladesh           In-person                               147
                     Remote                                  113
                     Hybrid (some remote, some in-person)    106
Barbados             Hybrid (some remote, some in-person)      2
                     Remote                                    2
Belarus              Remote                                   66
                     Hybrid (some remote, some in-person)     18
                     In-person                                17
Belgium              Hybrid (some remote, some in-person)    522
                     In-person                               109
                     Remote                                   95
Belize               In-person                                 2
                     Remote                                    2
Benin                Hybrid (some remote, some in-person)      5
Name: RemoteWork, dtype: int64

In [76]:
country_group['RemoteWork'].value_counts().loc["India"]

RemoteWork
Hybrid (some remote, some in-person)    1638
Remote                                  1405
In-person                               1104
Name: RemoteWork, dtype: int64

In [77]:
country_group['RemoteWork'].value_counts(normalize= True).loc["India"]

RemoteWork
Hybrid (some remote, some in-person)    0.394984
Remote                                  0.338799
In-person                               0.266217
Name: RemoteWork, dtype: float64

In [89]:
country_group["ConvertedCompYearly"].mean()

Country
Afghanistan                             843636.090909
Albania                                  29219.450000
Algeria                                  10069.190476
Andorra                                 120368.800000
Angola                                    4302.000000
                                            ...
Venezuela, Bolivarian Republic of...     23068.851852
Viet Nam                                 20995.956140
Yemen                                    15089.333333
Zambia                                   13897.800000
Zimbabwe                                 26740.000000
Name: ConvertedCompYearly, Length: 185, dtype: float64

In [88]:
country_group["ConvertedCompYearly"].mean().loc["India"]

27346.822805139185

In [90]:
csv.columns

Index(['Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

# Q

In [91]:
csv["Industry"].value_counts()

Information Services, IT, Software Development, or other Technology    18159
Financial Services                                                      4421
Other                                                                   4011
Manufacturing, Transportation, or Supply Chain                          2607
Healthcare                                                              2216
Retail and Consumer Services                                            1955
Higher Education                                                        1242
Advertising Services                                                     786
Insurance                                                                707
Oil & Gas                                                                276
Legal Services                                                           210
Wholesale                                                                184
Name: Industry, dtype: int64

In [92]:
industry_grp =  csv.groupby(["Industry"])

In [94]:
industry_grp["ConvertedCompYearly"].mean().loc["Healthcare"]

103571.10340775558

In [96]:
industry_grp["ConvertedCompYearly"].agg(["mean", "median", "count", "sum", "min", "max"])

,mean,median,count,sum,min,max
Industry,,,,,,
Advertising Services,112730.652033,82245.0,615,6.932935e+07,27.0,1949599.0
Financial Services,123977.345539,85000.0,3441,4.266060e+08,2.0,57513831.0
Healthcare,103571.103408,89327.0,1702,1.762780e+08,1.0,7435143.0
Higher Education,72076.873126,62400.0,867,6.249065e+07,1.0,991559.0
"Information Services, IT, Software Development, or other Technology",94924.338332,68494.0,13469,1.278536e+09,1.0,74351432.0
Insurance,100366.450435,81552.0,575,5.771071e+07,75.0,5354477.0
Legal Services,88300.562130,75000.0,169,1.492280e+07,41.0,929393.0
"Manufacturing, Transportation, or Supply Chain",89943.515242,74963.0,2001,1.799770e+08,1.0,9000000.0
Oil & Gas,88982.888889,74963.0,207,1.841946e+07,250.0,360000.0
Other,124288.992366,80317.0,3013,3.744827e+08,13.0,73607918.0
Retail and Consumer Services,98211.981959,80317.0,1552,1.524250e+08,8.0,2130000.0
Wholesale,71881.676471,59513.0,136,9.775908e+06,85.0,625260.0

In [103]:
industry_grp["LanguageHaveWorkedWith"]

In [110]:
industry_grp["LanguageHaveWorkedWith"].apply(lambda a : a.str.contains("Python").sum())

Industry
Advertising Services                                                    371
Financial Services                                                     1974
Healthcare                                                             1006
Higher Education                                                        747
Information Services, IT, Software Development, or other Technology    8215
Insurance                                                               238
Legal Services                                                           88
Manufacturing, Transportation, or Supply Chain                         1311
Oil & Gas                                                               150
Other                                                                  2031
Retail and Consumer Services                                            787
Wholesale                                                                77
Name: LanguageHaveWorkedWith, dtype: int64

### What % of people from each country know Python?

In [124]:
country_group["LanguageHaveWorkedWith"].apply(lambda a : a.str.contains("Python").sum()/a.str.contains("Python").count()*100)

Country
Afghanistan                             37.931034
Albania                                 34.545455
Algeria                                 42.168675
Andorra                                 33.333333
Angola                                  36.363636
                                          ...
Venezuela, Bolivarian Republic of...    40.776699
Viet Nam                                45.789474
Yemen                                   44.444444
Zambia                                  42.307692
Zimbabwe                                57.575758
Name: LanguageHaveWorkedWith, Length: 185, dtype: float64

In [134]:
data = {
    "gender a":["m","f","m","m","f"],
    "name b":["a","b","v","d","e"],
    "height c":[123,123,1245,354,344]
}
test_df = pd.DataFrame(data)
test_df

  gender a name b  height c
0        m      a       123
1        f      b       123
2        m      v      1245
3        m      d       354
4        f      e       344

In [137]:
test_df.columns
for cols in test_df.columns:
    print(cols)

gender a
name b
height c

In [141]:
test_df.columns = [cols.split(" ")[0] for cols in test_df.columns]

In [142]:
test_df

  gender name  height
0      m    a     123
1      f    b     123
2      m    v    1245
3      m    d     354
4      f    e     344